* {
  margin: 0;
  box-sizing: border-box;
}

.carousel {
  width: 400px;
  margin: auto;
  overflow: hidden;
  border: 2px solid black;
  position: relative;
}

.carousel_slide {
  display: flex;
  transform: translateX(0);
  transition: transform 0.4s ease-in-out;
}

button#next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  right: 0;
}

button#prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  left: 0;
}
